@font-face{
    font-family: 'Odibee Sans';
    src: url('src/assets/fonts/OdibeeSans-Regular.otf');
}

//Create the font-family
%trebuchet{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
}

%odibee{
    font-family: 'Odibee Sans';
    font-weight: 300;
}

//No Margin or Padding
%noMarPad {
    margin: 0;
    padding: 0;
}

//Fixed padding for page
%fixedPadding {
    padding: 0 8rem;
    @media (max-width: 1200px){
        padding: 0 4rem;
    }
    @media (max-width: 700px){
        padding: 0 1rem;
    }
}

//Absolute center with either flex or grid
%absoluteCenter {
    justify-content: center;
    align-items: center;
}

//Removes default settings for navigation (ul/li)
%nav{
    ul{
        list-style: none;
        a{
            text-decoration: none;
            color: #000;
        }
    }
}