@use "./styles/mixins" as mixin;
@use "./styles/placeholder" as *;
@use "./styles/variables" as *;

#root {
  //   max-width: 1280px;
  //   margin: 0 auto;
  @extend %trebuchet;
}

html {
  background: $color-dark;
}

body {
  background: $color-page;
  @extend %noMarPad;
  min-height: 100vh;
}
